## mako
<%page expression_filter="h"/>
<%!
  from datetime import datetime
  from django.urls import reverse
  from django.utils.translation import gettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>


<footer class="relative w-full bg-181818 py-8" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto flex flex-col lg:flex-row justify-between items-start py-8 px-6 lg:px-0 container-xl">
    <div class="flex flex-col mb-8 lg:mb-0">
      <img src={getConfig().LOGO_WHITE_URL} alt="Aspen Publishing Logo" class="w-40 h-auto mb-4" />
    </div>

    <div class="flex flex-col lg:flex-row gap-8 lg:gap-16">
      <div class="flex flex-col gap-4 text-white">
        <h3 class="uppercase footer-link">
          <a href="https://aspenpublishing.com/pages/discover-jd-next-program" target="_blank" rel="noopener" aria-label="About Us">About Us</a>
        </h3>
        <h3 class="uppercase footer-link">
          <a href="https://support.aspenpublishing.com/hc/en-us/categories/19204583377428-JD-Next" target="_blank" rel="noopener" aria-label="Support">Support</a>
        </h3>
      </div>
      <div class="flex flex-col gap-4 text-gray-300">
        <a href="/tos" class="footer-link-extra">Terms of Service</a>
        <a href="/privacy" class="footer-link-extra">Privacy Policy</a>
        <a href="/disclosure" class="footer-link-extra">California Consumer Act Policy</a>
        <a href="/agreement" class="footer-link-extra">End User License Agreement</a>
      </div>
    </div>
  </div>
  <hr class="my-8 border-t border-d6ae75 mx-6 lg:mx-24 container-xl mx-auto" aria-hidden="true" />
  <div class="mx-auto flex flex-col lg:flex-row justify-between items-center px-6 lg:px-0 py-8 container-xl">
    <span class="text-gray-300 text-sm mb-4 lg:mb-0">&copy; {currentYear} ASPEN PUBLISHING</span>
    <div class="flex gap-4 lg:gap-8">
      <a href="https://www.facebook.com/profile.php?id=61555997104704" class="text-gray-300 text-sm">Facebook</a>
      <a href="https://www.linkedin.com/company/aspenpublishing/" class="text-gray-300 text-sm">LinkedIn</a>
      <a href="https://twitter.com/AspenPublishing" class="text-gray-300 text-sm">Twitter</a>
      <a href="https://www.youtube.com/@aspenpublishing6830" class="text-gray-300 text-sm">YouTube</a>
    </div>
  </div>
</footer>
